/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.scss';
// @import 'mixins/foo.scss';
// @import 'mixins/bar.scss';
// @import 'mixins/baz.scss';
//
// @import 'styleguide.scss';
// @import 'pages/login.scss';
// @import 'pages/signup.scss';
//
// etc.

/* app css stylesheet */

/* variable */

$white: #fff;

/* Reset */

html, body {
  background-color: inherit;
}

i {
    cursor: pointer;
}

.left {
  float: left;
}

md-checkbox,
md-input-container {
  padding: 0;
  margin: 0;
}

/* Utilities */

.cl--white {
  color: $white;
}


body {
  background: url(http://img15.hostingpics.net/pics/384420photo1422393462206207b0fbd8d6b.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
}

md-card md-card-title {
    padding: 8px;
}

.task_card {
  margin-bottom: 15px;
}

.completed_task .ng-binding {
  text-decoration: line-through;
}

.material-icons.icon_add {
  font-size: 50px;
  margin: 4px -7px;
}

.container_add {
    margin-right: 30px;
    margin-top: 30px;
}

.input_container_add {
    margin-top: 15px;
    margin-bottom: -15px;
    width: 95%;
    margin-left: 1%;
}

.input_container_add--cancel {
  position: absolute;
  margin-left: -20px;
}

.button_add {
    float: right;
    margin-top: -63px;
}