<div ng-cloak class="md-inline-form">
  <form ng-submit="task.add()">
    <md-card class="container_add md-whiteframe-8dp">
        <md-input-container class="input_container_add">
          <label>Add new item</label>
          <input ng-model="task.itemForm.feature">
          <i ng-click="task.cancel()" class="material-icons input_container_add--cancel">clear</i>
        </md-input-container>
    </md-card>
        <md-button class=" md-whiteframe-4dp md-fab md-primary button_add" type="submit"><i class="material-icons icon_add">add</i></md-button>
  </form>
</div>
<p class="cl--white">Task | {{todo.length}}</p>
<hr />
<md-card class="md-whiteframe-4dp task_card" ng-repeat="item in task.itemTypes | filter:{ status: 'To do' } as todo" layout="row">
  <md-card-title flex="95">
    <md-card-title-text>
      <md-input-container>
        <md-checkbox class="checkbox left" ng-model="item.status" ng-true-value="'completed'" ng-false-value="'To do'" aria-label="Checkbox 1" ng-click="task.checkItemCompleted(item)" flex="5"></md-checkbox>
        <span ng-hide="item.$editing" ng-click="task.editItem(item)" ng-bind="item.feature"></span>
        <input ng-show="item.$editing" ng-model="item.feature" aria-label="Edit task"flex="80">
      </md-input-container>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center" flex>
    <i ng-hide="item.$editing" ng-click="task.editItem(item)" class="material-icons">mode_edit</i>
    <i ng-show="item.$editing" ng-click="task.saveItem(item)" class="material-icons">save</i>
    <i ng-hide="item.$editing" ng-click="task.deleteItem(item)" class="material-icons">delete</i>
    <i ng-show="item.$editing" ng-click="task.saveItem(item)" class="material-icons">clear</i>
  </md-card-actions>
</md-card>

<p class="cl--white">Completed | {{completed.length}}</p>
<hr />

<md-card class="md-whiteframe-4dp task_card completed_task" ng-repeat="item in task.itemTypes | filter:{ status:'completed' } as completed" layout="row">
  <md-card-title flex>
    <md-card-title-text>
      <md-input-container>
        <md-checkbox class="checkbox" ng-model="item.status" ng-true-value="'completed'" ng-false-value="'To do'" aria-label="Checkbox 1" ng-click="task.checkItemToDo(item)"></md-checkbox>
        {{ item.feature }}
      </md-input-container>
    </md-card-title-text>
  </md-card-title>
</md-card>


<p class="cl--white">This is the partial for view 1.</p>